:root {
  --groen: #8e8c6f;
  --beige: #f3e8d2;
  --offwhite: #FFFAEF;
  --blauw: #7FA8A0;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Agrandir;
    background-color: var(--offwhite);
}

a {
    text-decoration: none;
}

#loading-page {
  background-color: hsla(15, 48%, 58%, 1);
  background-image: radial-gradient(
      at 86% 22%,
      hsla(15, 48%, 58%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 8% 80%, hsla(56, 12%, 49%, 1) 0px, transparent 50%),
    radial-gradient(at 83% 84%, hsla(32, 23%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 16%, hsla(168, 19%, 57%, 1) 0px, transparent 50%);
}

.logo-loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main {
    background-color: var(--groen);
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: end;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header-main img{
    width: 60vw;
    height: auto;
}

.main-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-main p {
    text-align: center;
    max-width: 85vw;
    height: auto;
    padding: 18px 0;
}

.main-main img {
    max-width: 90vw;
}

.main-main a {
    color: black;
    background-color: var(--blauw);
    padding: 6px 25px;
    border-radius: 100px;
    font-size: 1.2em;
}

.nav-main{
    padding: 40px 0 10px;
    display: flex;
    justify-content: space-around;
}

.nav-main img{
    width: 38px;
    height: auto;
}

.nav-main a{
    height: 38px;
}

.header-shop, .header-saved, .header-profile {
    background-color: var(--groen);
    display: flex;
    justify-content: start;
    height: 10px;
    align-items: center;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header-shop h1, .header-saved h1, .header-profile h1{
    color: white;
    font-size: 1.3em;
    font-weight: normal;
    margin: 0;
}

.main-shop{
    margin: 15px;
}

.main-shop h2{
    margin-top: 40px;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.products-shop{
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    justify-content: center;
}

.products-shop img{
    width: 43vw;
    height: auto;
}

.products-shop a{
    height: 43vw;
}

.heart-saved{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 20px;
}

.btn-saved a {
    color: black;
    background-color: var(--blauw);
    padding: 6px 25px;
    border-radius: 100px;
    font-size: 1.2em;
}

.btn-saved {
    display: flex;
    justify-content: center;
}

.pfp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.pfp img{
    margin-bottom: 15px;
}

.pfp h2{
    margin-bottom: 15px;
}

.pfp a{
    margin-bottom: 15px;
    color: black;
    border: solid black 1px;
    border-radius: 100px;
    padding: 5px 10px;
}

.lijn-profile{
    width: 90vw;
    padding: 1px;
    background-color: black;
    border-radius: 100px;
    margin: 20px 0;
}

.settings-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-profile h2 {
    font-weight: normal;
}

.main-profile h3 {
    font-weight: normal;
}

.btn-profile a{
    color: black;
    background-color: var(--blauw);
    padding: 6px 25px;
    border-radius: 100px;
    font-size: 1.2em;
}

.btn-profile {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}