:root {
  --groen: #8e8c6f;
  --beige: #f3e8d2;
  --offwhite: #FFFAEF;
  --blauw: #7FA8A0;
}


html{
    font-family: Agrandir;
    background-color: var(--offwhite);
}

a {
    text-decoration: none;
}

#loading-page {
  background-color: hsla(15, 48%, 58%, 1);
  background-image: radial-gradient(
      at 86% 22%,
      hsla(15, 48%, 58%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 8% 80%, hsla(56, 12%, 49%, 1) 0px, transparent 50%),
    radial-gradient(at 83% 84%, hsla(32, 23%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 16%, hsla(168, 19%, 57%, 1) 0px, transparent 50%);
}

.logo-loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main {
    background-color: var(--groen);
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: end;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header-main img{
    width: 60vw;
    height: auto;
}

.main-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-main p {
    text-align: center;
    max-width: 85vw;
    height: auto;
    padding: 18px 0;
}

.main-main img {
    max-width: 90vw;
}

.main-main a {
    color: black;
    background-color: var(--blauw);
    padding: 6px 25px;
    border-radius: 100px;
    font-size: 1.2em;
}

.nav-main{
    padding: 40px 0 10px;
    display: flex;
    justify-content: space-around;
}

.nav-main img{
    width: 85%;
    height: auto;
}